@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  --maincolor: #88cfcd;
  --width: 13vw;
  --height: 13vw;

  user-select: none;
}
/* 
body {
  background-image: url('https://sm.ign.com/ign_in/screenshot/default/gta-5-mods-2_ubuh.jpg');
  background-size: cover;
  height: 100%;
} */



.Minimap {
  transform: scale(1.0);
  position: absolute;
  bottom: 0.9vw;
}

.minimap-dead {
  position: absolute;
  width: var(--width);
  height: var(--height);
  left: 0;
  z-index: -2;
}


.outline {
  width: var(--width);
  height: var(--height);
}

.status-outline {
  position: absolute;
  width: var(--width);
  height: var(--height);
  left: 0;
}


.health {
  position: absolute;
  left: 0;
  width: var(--width);
  height: auto;
  top: 1.03vw;
}

.armour {
  position: absolute;
  right: 0;
  width: var(--width);
  height: auto;
  top: 1.03vw;
}


.hunger {
  position: absolute;
  left: 0;
  width: var(--width);
  height: auto;
  bottom: 2.7vw;
}


.thirst {
  position: absolute;
  left: 0;
  width: var(--width);
  height: auto;
  top: 2.5vw;
}

.stress {
  position: absolute;
  right: 0;
  width: var(--width);
  height: auto;
  top: 2.5vw;

}

.oxygen {
  position: absolute;
  right: 0;
  width: var(--width);
  height: auto;
  bottom: 2.7vw;
}






.icon-stress {
  position: absolute;
  color: #e07569;
  top: 1.4vw;
  right: 2.1vw;
}


.icon-thirst {
  position: absolute;
  color: var(--maincolor);
  top: 1.3vw;
  left: 2.1vw;
}

.icon-hunger {
  position: absolute;
  color: #dec56f;
  bottom: 1.7vw;
  left: 2.1vw;
}



.icon-oxygen {
  position: absolute;
  color: #bbbbbb;
  width: .8vw;
  bottom: 1.7vw;
  right: 2.1vw;
}



.fa-microphone {
  position: absolute;
  right: -.7vw;
  bottom: -.3vw;
  color: rgb(229, 229, 229);
  width: .7vw;
  height: auto;
  padding: .65vw .82vw;
  text-shadow: 0 0 10px black;
  border-radius: 100%;
}



.circle {
  display: none;
  height: .4vw;
  width: .4vw;
  border-radius: 50%;
  position: absolute;
  right: .34vw;
  bottom: .7vw;
}

.circle:before,
.circle:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0.5vh solid var(--voiceval);
  border-radius: 50%;
}


.circle:before {
  animation: ripple 2s linear infinite;
}

.circle:after {
  animation: ripple 2s linear 1s infinite;
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(3);
    opacity: 1;
  }

  100% {
    transform: scale(6);
    opacity: 0;
  }
}





























.speedometer {
  position: absolute;
  bottom: 1.2vw;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
}



.gear-container {
  position: absolute;
  width: 13vw;
  height: 13vw;
  color: rgb(255, 255, 255);
  font-family: 'Oswald', sans-serif;
  font-size: .85vw;

}

.gear0 {
  position: relative;
  left: 2.5vw;
  bottom: 4vw;
  text-shadow: 0 0 5px black;
}


.gear1 {
  position: relative;
  left: 1vw;
  bottom: 5.5vw;
  text-shadow: 0 0 5px black;
}

.gear2 {
  position: relative;
  bottom: 7vw;
  left: 2.5vw;
  text-shadow: 0 0 5px black;
}

.gear3 {
  position: relative;
  bottom: 6.5vw;
  text-shadow: 0 0 5px black;
  left: 6.2vw;
}

.gear4 {
  position: relative;
  bottom: 3vw;
  left: 10vw;
  text-shadow: 0 0 5px black;
}

.gear5 {
  position: relative;
  left: 11.7vw;
  top: 2.5vw;
  text-shadow: 0 0 5px black;
}

.gear6 {
  position: relative;
  left: 10.5vw;
  top: 8.2vw;
  text-shadow: 0 0 5px black;
}


.speedometer-center {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.speed-outline{
  position: absolute;
  width: 15vw;

}


.speed {
  font-family: 'Rajdhani', sans-serif;
  font-size: 3vw;
  color: white;
  text-shadow: 0 0 10px black;
  width: 4.95vw;

}

.speed-unit {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.0vw;
  font-weight: bold;
  color: rgba(255, 255, 255, .8);
  text-shadow: 0 0 5px black;

}



.fa-gas-pump {
  position: absolute;
  background-color: rgb(49, 49, 49);
  border-radius: 100%;
  padding: 0.2vw;
  top: 6vw;
  right: -1vw;
}


.fa-car {
  position: absolute;
  top: 6.2vw;
  left: -1vw;
  background-color: rgb(49, 49, 49);
  border-radius: 100%;
  padding: 0.2vw;
  z-index: 10;
}

.seatbelt {
  position: relative;
  top: 0.5vw;
  width: 1.0vw !important;
  text-shadow: 0 0 5px black;
  animation-name: alarm;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


.mileage-container {
  display: flex;
  flex-direction: row;
  gap: 0.1vw;
  background-color: rgba(0, 0, 0, 0.568);
  padding: 0vw 0.2vw;
  align-items: center;
  border-radius: .5vw;
  width: 5.1vw;
  justify-content: center;
}

.mileage-container span {
  position: relative;
  top: 0.05vw;
  font-family: 'Rajdhani', sans-serif;
  color: white;
  opacity: 50%;
  font-size: 1.0vw;
  font-weight: bold;
}


.speedo-back {
  fill: #0f0f0fb9 !important;
}

.box {
  position: absolute;
  right: 0.09vw;
  bottom: 0vw;
  transform: rotate(130deg);
}




.enginevalue {
  position: absolute;
  stroke-dashoffset: 270%;
  stroke-dasharray: 300%;
}

.enginehealth {
  position: absolute;
  bottom: -1.8vw;
  left: -1.7vw;
  transform: rotate(129deg);
}

.engine {
  position: absolute;
  stroke-dashoffset: 250%;
  stroke-dasharray: 300%;
}

svg circle.circlea {
  position: absolute;
  stroke-dashoffset: 80%;
  stroke-dasharray: 300%;
  stroke-linecap: round;
}

svg circle.outline {
  stroke-dashoffset: 80%;
  stroke-dasharray: 300%;
  stroke-linecap: round;
}



.speed-fuel {
position: absolute;
  width: 15vw;
  height: auto;
}

.speed-engine {
  position: absolute;
  width: 15vw;
  height: auto;
}


.fas {
  width: .7vw;
  height: auto;
}

@keyframes alarm {
  0% {
      opacity: 1;
  }

  50% {
      opacity: 0;
  }

  100%{
      opacity: 1;
  }
}











.compass-container{
  position: absolute;
  left: 50%;
  top: 2vw;

  transform: translate(-50%,0%);




  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5); */

}

.compass{
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 3vw;
  gap: 30px;
  overflow-x: scroll;
  --mask: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 20%,  rgba(0,0,0, 1) 50%, rgb(0, 0, 0) 80%,rgba(0,0,0, 0) 100%) 100% 50% / 100% 100% repeat-x;

-webkit-mask: var(--mask); 
mask: var(--mask);

}

.compassvalues{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.compassdir{
  font-family: 'Rajdhani', sans-serif;
  color: rgba(219, 225, 231, 0.947);
  font-weight: bold;
  font-size: 25px;
}

.compasstext{
  font-family: 'Rajdhani', sans-serif;
  color: rgba(187, 204, 220, 0.8);
  font-size: 15px;
}
.compassbar{
  width: 2px;
  height: 7px;
  background-color: rgba(187, 204, 220, 0.8);
}

.compass::-webkit-scrollbar{
  display: none;
}


.location-container{
  display: flex;
  flex-direction: row;
  gap: 5px; 
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.location-bar{
  width: 3px;
  height: 20px;
  background-color: white;
}

.location1{
  font-size: 15px;
  color: white;
}


.location2{
  font-size: 15px;
  color: var(--maincolor);
}




.settings-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.9);
}

.settings-container{
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}

.settings-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: start;
  gap: 0.5vw;
  font-weight: bold;
  font-size: 2vw;
  color: white;
  font-family: 'Rajdhani', sans-serif;

}

.settings-title div{
  padding-left: 0.5vw;
  border-left: 0.2vw solid var(--maincolor);
}

.settings-title img{
  padding: 0.2vw;
  width: 1.1vw;
  filter: invert();
  /* background-color: white; */
}

.settings-catagories{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;

}

.settings-catagory{
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;
  font-size: 1.3vw;
  font-weight: bold;
}

.settings{

  display: flex;
  flex-direction: row;
  align-items: start;
  width: 95%;
}

.instructions{

  font-family: Inter;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  font-size: 1.2vw;
  padding: 1vw 2vw;
  width: 25vw;
}

.settings-options{
  width: 50%;
  height: 30vw;
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.option{

  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2vw;
  font-weight: bold;
  font-family: Inter;
  padding: 1vw 0.4vw;
  border: 1px solid rgba(255, 255, 255, 0);
}

.select-value{
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 0.5vw;
}

.range-container{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.slider{
  width: 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4vw;
}

.option:hover{
  border: 1px solid white;
}

.option-button{
  display: flex;
  justify-content: start;
  width: 3.5vw;
  height: 1.5vw;
  outline: 0.15vw solid white;
  outline-offset: 0.2vw;
}

.option-button-text{
  opacity: 70%;
  font-size: 1vw;
  color: var(--maincolor);
}

.option-button div{
  background-color: white;
  width: 1.75vw;
  height: 100%;
}




#slider{
  border-radius: 0;
  height: .6vw;
  transition: none !important;
}

#slider .range-slider__range {
  height: .5vw;
  background: var(--maincolor);
}


.single-thumb .range-slider__thumb[data-lower] {
  width: 0;
}
.single-thumb .range-slider__thumb[data-upper] {
  width: 0;
}

::-webkit-scrollbar {
  width: 0.3vw;
}

/* Track */
::-webkit-scrollbar-track {

  background: linear-gradient(to left, rgba(0, 0, 0, 0)30%,rgba(255, 255, 255, 0.537) 50%,rgba(0, 0, 0, 0)70%); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.2vw;
  background: #888; 
}

.settings-keys-container{
  display: flex;
  flex-direction: row;
  justify-content: end;

  width: 80%;
}

.settings-keys{
  display: flex;
  flex-direction: row;
  gap: 2vw;
  font-family: 'Rajdhani', sans-serif;
  background-color: #20202000;
  padding: 0.5vw ;
}

.key{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4vw;
}

.button{
  background-color: white;
  font-weight: bold;
  padding: 0.1vw 0.2vw;
  font-size: 0.8vw;
}

.action{
  font-size: 1vw;
  color: white;
}


.i{
  padding: 0.0vw .6vw;
  border-radius: 100%;
  background-color: #dddddd;
  font-size: 1.2vw;
  color: rgb(26, 26, 26);
}

.horizontalline{
  width: 100%;
  height: 0.1vw;
  background-color: rgba(255,255,255,0.7);
}
